<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const text = document.getElementById("typewriter");
    const fullText = text.dataset.title;
    let index = 0;

    function type() {
      if (index < fullText.length) {
        text.textContent += fullText.charAt(index);
        index++;
        setTimeout(type, 150); // velocidad de escritura
      }
    }

    type();
  });
</script>
